@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@500&display=swap");

$public: "/../public/Template";

body {
  font-family: "Mohave";
  line-height: normal;
  overflow: hidden;
}

// Globals
.variable,
.toggle {
  transition: opacity ease 0.5s;
  opacity: 0;

  &.appear-active,
  &.appear-done,
  &.enter-active,
  &.enter-done {
    opacity: 1;
  }
}

.z-n1 {
  z-index: -1;
}

// Scenes

#replay {
  .players {
    height: 977px;

    .player {
      width: 820px;

      .commander {
        top: 120px;
      }

      .plate {
        height: 120px;
        font-size: 3.5rem;
        z-index: 10;

        .player-name {
          var {
            line-height: 1;
            text-shadow: 2px 2px 15px #000, -2px -2px 15px #000;

            &:last-child {
              font-size: 2.25rem;

              &:before {
                content: "<";
              }

              &:after {
                content: ">";
              }
            }
          }
        }
      }

      .arsenal {
        .toggle {
          display: none;
          width: 100px;

          &.appear-active,
          &.appear-done,
          &.enter-active,
          &.enter-done {
            display: flex;
          }
        }
      }
    }
  }

  .bar {
    background: url("#{$public}/overlay/game/bar.jpg");
    height: 103px;
    font-size: 3.5rem;
    z-index: 10;

    img {
      max-height: 103px;
    }
  }

  .map {
    bottom: 103px;
    font-size: 2.25rem;
    text-shadow: 2px 2px 15px #000, -2px -2px 15px #000;

    img {
      width: 362px;
    }

    .timer {
      transition: transform ease 0.5s;
      transform: translateY(100%);

      &.appear-active,
      &.appear-done,
      &.enter-active,
      &.enter-done {
        transform: none;
      }

      &.exit-done {
        opacity: 0;
      }
    }
  }
}
